/*
TODO:

    • Fathom the glorious Hamburger Menu (~✓)

    • CSS\ (Temp) Style Accueil/Header (✓)

    • HTML\ Implement Sub Pages/Hreffing/Iding (✓)
    
    • HTML\ Add Profil Content (~) </ 21/05 | 22h00

    • HTML\ Add Accueil Content </ 21/05 | 22h00

        =>> Overview ; Ressources ; Meta-Page

    • HTML\ Add Formation Content

    • HTML\ Add Autre Content

    |||- HTML\ Check Typos

    • HTML/CSS\ Implement Obligatory Improvements

        => Add highligh/mark tags on key phrases || style

        => Implement Alternate color for sections and footer

        => Tab Icon

        => Images In-Page Icon

    • CSS\ Implement Misc Ideas

        ( Headings :before "↳" content + Padding => Show Ramification

        ( Maintain ul:hover status during li:hover trigger

        ( Side links to sub_burge li to simply ref in-page id

        ( Highlight/Grey Out Current page >>Header

    • (......)
*/

/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    height: auto;
    background-color: lightgrey;
}
section
{
    height: auto;
    width: 80%;
    margin: 0px auto;
    padding: 0px auto;
    overflow: scroll;
}
p
{
    float: left;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
}
h2
{
    font-size: 30px;
    text-align: justify;
}
h3
{
    font-size: 25px;
    text-align: justify;
    padding-left: 25px;
}
a
{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}
hr
{
    border: 0.1vw solid grey;
}
ul
{
    list-style-type: none;
}

h1, h2, h3
{
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.tab
{
    margin-left: 40px;
}

h1.h1_bg
{
    margin: 0px;
    padding: 0px;
    background-color: grey;
    width: 100%;
    border-bottom: 0.2vw solid black;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px
}
header ul li
{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
header a
{
    font-size: 1.25vw;
    border: 0.2vw solid black;
    border-right: 0.075vw solid black;
    border-left: 0.075vw solid black;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 8px 5px
}

.sub_burger
{
    display: none;
    background-color: grey;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.sub_burger a
{
    border: 0.2vw solid black;
    padding: 10px;
    border-top: none;
}
.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}

header a:hover
{
    background-color: black;
    color: lightgrey;
}
.burger > a:hover
{
    background-color: grey;
}
header > ul li:hover .sub_burger
{
    display: block;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
.burger > a::after
{
    content:" ▼";
    font-size: 1.25vw;
}

/* Footer/Contacts */

footer p
{
    font-size: 10px;
}

/* Profil */

/* section ul
{
    position: absolute;
    width: 100%;
}

section ul li.li_langs
{
    position: absolute;
    width: 20%;
    height: 200px;
    border-bottom: 0.2vw solid black;
    border-top: 0.2vw solid black;
    border-left: 0.2vw solid black;
} */

div.div_bg1
{
    width: 12.5vw;
    border: 0.2vw solid white;
    background-color: black;
    margin-left: 65%;
}