/*
TODO:

    • Fathom the glorious Hamburger Menu (~✓)

    • CSS\ (Temp) Style Accueil/Header (✓)

    • HTML/CSS\ Implement Sub Pages/Hreffing/Iding (✓)
    
    • HTML/CSS\ Add Profil Content (~✓) → Projet Pro (Contact Gola)

    • HTML/CSS\ Add Accueil Content (~)

    • HTML/CSS\ Add Formation Content

    • HTML/CSS\ Add Autre Content

    |||- HTML\ Check Typos

    • HTML/CSS\ Implement Obligatory Improvements

        => Add highligh/mark tags on key phrases

        => Implement Alternate color for sections

        => Tab Icon

        => Images In-Page Icon

    • CSS\ Implement Misc/Optional Ideas


        ( Maintain ul:hover status during li:hover trigger

        ( Side links to sub_burge li to simply ref in-page id

        ( Highlight/Grey Out Current page >>Header

        ( Implement footer for every page

    • (......)
*/

/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    height: auto;
    background-color: lightgrey;
}
section
{
    width: 1000px;
    margin: 0px auto;
    overflow: none;
}
p
{
    margin: 30px 0;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: grey;
    width: 100%;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}
h2
{
    font-size: 30px;
    text-align: justify;
}
h3
{
    font-size: 25px;
    text-align: justify;
    padding-left: 25px;
}
a
{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}
hr
{
    border: 0.1vw solid grey;
}
ul
{
    list-style-type: none;
}

h2, h3
{
    margin: 30px 0;
    clear: both;
}
h1, h2, h3
{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
header + h1
{
    border-top: none;
}
h3 + p
{
    padding-left: 25px;
}
h3::before
{
    content:"↳ ";
    font-size: 25px;
}

span.comment
{
    font-weight: normal;
    background-color: black;
    color: lightgray;
    border-radius: 10px;
    padding: 2px;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px
}
header ul li
{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
header a
{
    font-size: 1.5vw;
    border: 0.2vw solid black;
    border-right: 0.075vw solid black;
    border-left: 0.075vw solid black;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 8px 5px
}

ul.sub_burger
{
    display: none;
    background-color: grey;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
ul.sub_burger a
{
    font-size: 1.25vw;
    border: 0.2vw solid black;
    padding: 10px;
    border-top: none;
}
ul.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}

header a:hover
{
    background-color: black;
    color: lightgray;
}
li.burger > a:hover
{
    background-color: grey;
}
header > ul li:hover ul.sub_burger
{
    display: block;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
li.burger > a::after
{
    content:" ▼";
    font-size: 1.25vw;
}

/* Profil */

h2#propos
{
    margin-bottom: 0;
}
div.bg1
{
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    background-color: gray;
    border-radius: 10px;
    float: right;
    margin: 30px 0;
    margin-right: 85px;
}

p.para1
{
    float: left;
    width: 65%;
}

div.chrono
{
    border-left: 3px solid rgb(0, 0, 0);
    padding-left: 10px;
}

ul.lang
{
    height: 120px;
}
ul.lang li
{
    float: left;
    border: 0.2vw solid black;
    background-color: gray;
    border-radius: 10px;
    width: 14%;
    height: 100px;
    margin: 10px;
}
ul.lang li p
{
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-bottom: 0.2vw solid black;
}
ul.lang li:hover
{
    background-color: black;
}

ul.lang li:hover p
{
    color: lightgray;
    background-color: black;
}
ul.lang li img
{
    width: 45%;
    margin: 2px 39px;
}
ul.lang :nth-child(3) p
{
    font-size: 15px;
    padding: 2.5px;
}
ul.lang :nth-child(3) img[src="../images/sh.png"]
{
    margin: 5px 0px 5px 5px;
    float: left;
}
ul.lang :nth-child(3) img[src="../images/posh.png"]
{
    width: 42%;
    margin: 7px 8px 5px 0px;
    float: right;
}
ul.lang :nth-child(4) img
{
    margin-top: 8px;
}
ul.lang :nth-child(5) img[src="../images/html.png"]
{
    width: 50%;
    margin: 0;
    float: left;
}
ul.lang :nth-child(5) img[src="../images/css.png"]
{
    margin: 5px 5px 5px 0px;
    float: right;
}
ul.lang :nth-child(6) img
{
    width: 60%;
    margin: 2px 29px;
    margin-top: 8px;
}

p.para2
{
    margin-top: 0px;
    float: left;
    width: 25%;
}