/* General */

*
{
    margin: 0;
    padding: 0;
}

body
{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}
section
{
    width: 1000px;
    margin: 0px auto;
}
footer
{
    width: 100%;
    height: 100px;
    background-color: grey;
    border-top: 0.2vw solid black;
    margin-top: 50px;
    clear: both;
}
p
{
    margin: 30px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: grey;
    width: 100%;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
}
h2
{
    font-size: 30px;
    text-align: justify;
}
h3
{
    font-size: 25px;
    text-align: justify;
    padding-left: 25px;
}
a
{
    text-decoration: none;
    color: black;
}
hr
{
    border: 0.1vw solid grey;
}
ul
{
    list-style-type: none;
}

body *
{
    font-family: 'Courier New', Courier, monospace;
}
h2, h3
{
    margin: 30px 0;
    clear: both;
}
h1, h2, h3
{
    color: black;
}
header + h1
{
    border-top: none;
}
h3 + p
{
    padding-left: 25px;
}
h3::before
{
    content:"↳ ";
    font-size: 25px;
}
*::selection
{
    color: white;
    background-color: black;
}

span.comment
{
    font-weight: normal;
    background-color: black;
    color: lightgrey;
    border-radius: 10px;
    padding: 2px;
    display: inline-block;

    transform-origin: top center;
    animation: shake 2s ease infinite;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px;
    z-index: 1;
}
header ul li
{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
header a
{
    font-size: 1.5vw;
    border: 0.2vw solid black;
    border-right: 0.075vw solid black;
    border-left: 0.075vw solid black;
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    padding: 8px 5px;

    background-color: grey;
    color: black;
    transition: background-color 0.5s ease;
}

ul.sub_burger
{
    display: none;
    background-color: grey;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
ul.sub_burger a
{
    font-size: 1.25vw;
    border: 0.2vw solid black;
    padding: 10px;
    border-top: none;

    background-color: grey;
    color: black;
    transition: background-color 0.5s ease;
}
ul.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}

header a:hover
{
    background-color: black;
    color: lightgrey;
}
header > ul li:hover ul.sub_burger
{
    display: block;
    animation: burger_pop 0.25s ease forwards;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
li.burger > a::after
{
    content:" ▼";
    font-size: 1.25vw;
}

/* Accueil */

h2.welcome
{
	margin-top: 100px;
    font-size: 150px;
    text-align: center;

    animation: bounce-in-right 2s, pretty-title 3s ease;
}

p.p0
{
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 40%;
    border-radius: 10px;
    background-color: lightslategrey;
}

/* Profil */

h2#propos
{
    margin-bottom: 0;
}
div.bg1
{
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightslategrey;
    border-radius: 10px;
    float: right;
    margin: 30px 0;
    margin-right: 85px;
}

p.p1
{
    float: left;
    width: 65%;
}

div.chrono
{
    border-left: 3px solid rgb(0, 0, 0);
    padding-left: 10px;
}

ul.comp
{
    height: 120px;
}
ul.comp li
{
    float: left;
    border: 0.2vw solid black;
    background-color: lightslategrey;
    border-radius: 10px;
    width: 140px;
    height: 100px;
    margin: 10px;
}
ul.comp li p
{
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    font-size: 20px;
    border-bottom: 0.2vw solid black;
}
ul.comp li:hover
{
    background-color: black;
}

ul.comp li:hover p
{
    color: lightgrey;
    background-color: black;
}
ul.comp li img
{
    width: 45%;
    margin: 2px 39px;
}
ul.comp :nth-child(3) p
{
    font-size: 15px;
    padding: 2.5px;
}
ul.comp :nth-child(3) img[src="../images/sh.png"]
{
    margin: 5px 0px 5px 5px;
    float: left;
}
ul.comp :nth-child(3) img[src="../images/posh.png"]
{
    width: 42%;
    margin: 7px 8px 5px 0px;
    float: right;
}
ul.comp :nth-child(4) img
{
    margin-top: 8px;
}
ul.comp :nth-child(5) img[src="../images/html.png"]
{
    width: 50%;
    margin: 0;
    float: left;
}
ul.comp :nth-child(5) img[src="../images/css.png"]
{
    margin: 5px 5px 5px 0px;
    float: right;
}
ul.comp :nth-child(6) img
{
    width: 60%;
    margin: 2px 29px;
    margin-top: 8px;
}
h3#os + ul.comp
{
    float: left;
    width: 350px;
    margin-bottom: 25px;
}
h3#os + ul.comp li
{
    width: 140px;
}
h3#os + ul.comp li img[src="../images/windows.png"]
{
    width: 50%;
    margin-left: 36px;
}
p.os
{
    float: left
}
p.p2
{
    margin-top: 0px;
    float: left;
    width: 25%;
}

/* Formation */

p.p3
{
    margin-top: 0px;
    float: left;
    width: 65%;   
}

div.bg2
{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightslategrey;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

div.bg3
{
    width: 100px;
    height: 100px;
    border: 2px solid rgb(0, 0, 0);
    background-color: lightslategrey;
    border-radius: 10px;
    float: right;
    margin-top: 15px;
    margin-right: 60px;
}

div.bg2 img[src="../images/server.png"]
{
    margin-left: 10px;
}

div.bg3 p
{
    font-size: 45px;
    font-weight: bolder;
    color: #EEEEEE;
    margin: 20px 10px 0px 10px
}

/* Autres */

ul.tool
{
    width: 75%;
    height: 150px;
    margin-bottom: 50px;
}
ul.tool li
{
    float: left;
    border: 0.2vw solid black;
    background-color: lightslategrey;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin: 10px;
}
ul.tool li p
{
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    font-size: 20px;
    border-bottom: 0.2vw solid black;
}

ul.tool li:hover
{
    background-color: black;
}
ul.tool li:hover p
{
    color: lightgrey;
    background-color: black;
}

ul.tool li img
{
    width: 60%;
    margin: 5px 32px;
}

ul.tool :nth-child(3) p
{
    font-size: 18px;
    padding: 2.5px;
}

ul.tool :nth-child(4) p
{
    padding: 11px;
}

p.p4
{
    float: left;
    margin-top: 0px;
    margin-right: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    background-color: lightslategrey;
}
form.f1
{
    float: right;
    margin-top: 0px;
    margin-right: 205px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    background-color: lightslategrey;
    margin-left: 0px;
}

form.f1 input, textarea
{
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    width: 90%;
    height: 20px;
    border-radius: 10px;
    background-color: lightgrey;
}

form.f1 textarea
{
    height: 100px;
}
form.f1 input[type="submit"]
{
    height: 30px;
    width: 50%;
}

form.f1 input[type="submit"]:hover
{
    background-color: black;
    color: lightgrey;
}

span.emoji
{
    background-color: grey;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 40px;
}

/* Keyframes/Animations */

@keyframes burger-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes pretty-title
{
	0%
	{
		color: rgb(0, 0, 255);
	}
	20%
	{
		color: rgb(0, 255, 255);
	}
	40%
	{
		color: rgb(0, 255, 0);
	}
	60%
	{		
		color: rgb(255, 255, 0);
	}
	60%
	{
		color: rgb(255, 0, 0);
	}
	100%
	{
		color: rgb(0, 0, 0);
	}
}

@keyframes bounce
{
	20% 
    {
        transform: rotate(15deg);
    }	
	40%
    { 
        transform: rotate(-10deg);
    }
	60%
    {
        transform: rotate(5deg);
    }	
	80%
    {
        transform: rotate(-5deg);
    }	
	100%
    {
        transform: rotate(0deg);
    }
}

@keyframes shake
{
	0%, 100% 
    {
        transform: translateX(0);
    }
	10%, 30%, 50%, 70%, 90%
    {
        transform: translateX(-2px);
    }
	20%, 40%, 60%, 80% 
    {
        transform: translateX(2px);
    }
}

@keyframes bounce-in-right {
    0%
    {
        opacity: 0;
        transform: translateX(2000px);
    }
    60%
    {
        opacity: 1;
        transform: translateX(-30px);
    }
    80%
    {
        transform: translateX(10px);
    }
    100%
    {
        transform: translateX(0);
    }
}