/* 
TODO:

    ( Maintain ul:hover status during li:hover trigger

    ( Side links to sub_burge li to simply ref in-page id

    ( Highlight/Grey Out Current page >>Header

    ( Implement Alternate color for sections and footer

    • Fathom the glorious Hamburger Menu (~✓)

    • CSS\ (Temp) Style Accueil/Header (✓)

    • HTML\ Implement Sub Pages/Hreffing/Iding (~)

    • HTML\ Add Accueil Content

    • HTML\ Add Pages Content

    • CSS\ Style Accueil

    • CSS\ Style Sub Pages

    • (......)

*/

/* General */

*
{
    margin: 0;
    padding: 0;
}


body
{
    height: auto;
    background-color: lightgrey;
}
p
{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    text-align: justify;
    color: black;
}
h1
{
    font-size: 50px;
    text-align: center;
}
h2
{
    font-size: 25px;
    text-align: justify;
}
a
{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
}
hr
{
    border: 1.5px solid grey;
}

h1, h2, h3
{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
    color: black;
}
section, footer
{
    height: auto;
    width: 90%;
    margin: 30px;
}

/* Header/Hamburger Menu */

header
{
    width: 100%;
    margin: 0 auto;
    background-color: grey;
    position: sticky;
    top: 0px
}
header ul
{
    list-style-type: none;;
}
header ul li
{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
header a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding: 10px 0px
}


.alt_sec
{
    background-color: grey;
}
.sub_burger
{
    display: none;
    box-shadow: 0px 1px 2px lightgrey;
    background-color: grey;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.sub_burger li
{
    float: none;
    width: 100%;
    text-align: left;
}
.sub_burger a
{
    border-right: 2px solid black;
    padding: 10px;
    border-top: none;
}


header a:hover
{
    background-color: black;
    color: lightgrey;
}
.burger > a:hover
{
    background-color: grey;
}
header > ul li:hover .sub_burger
{
    display: block;
}
header ul::after
{
    content: "";
    display: table;
    clear: both;
}
.burger > a::after
{
    content:" ▼";
    font-size: 12px;
}


/* Footer/Contacts */

footer p
{
    font-size: 10px;
}